@import '@opengovsg/oui-theme/tailwind.css';
@source "../node_modules/@opengovsg/oui-theme";
@import 'inter-ui/inter.css';
@import 'inter-ui/inter-variable.css';

@layer base {
  :root {
    --logo-primary: #1677d2;
    --logo-accent: #58a9f2;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    @supports (font-variation-settings: normal) {
      --font-sans: 'InterVariable', ui-sans-serif, system-ui, sans-serif;
    }
  }
}
